@import url(animate.min.css);

/*@import url(vegas.min.css);*/

@import url(main_2.css);

@import url(slick.css);

/*#d2b465*/

/*----------------------------------*\ 

	# common               

\*----------------------------------*/

* {
  margin: 0;

  padding: 0;

  border: 0;

  list-style: none;

  box-sizing: border-box;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;
}

body {
  background: whitesmoke;

  color: #444;

  font-size: 20px;

  line-height: 1.5;

  font-family: Microsoft JhengHei;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;

  color: inherit;
}

img.pic1 {
  width: 100%;

  max-height: 100vh;
}

.stop_mo {
  display: block;
}

.stop_desk {
  display: none;
}

@media (max-width: 1025px) {
  body {
    font-size: 16px;
  }

  img.pic1 {
    max-height: 50vh;
  }

  .stop_mo {
    display: none;
  }

  .stop_desk {
    display: block;
  }
}

/*----------------------------------*\

   # 選單動畫                  

\*----------------------------------*/

@-webkit-keyframes openClose {
  from,
  10%,
  to {
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }

  45% {
    visibility: hidden;

    -webkit-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);
  }

  100% {
    visibility: hidden;

    -webkit-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes openClose {
  from,
  10%,
  to {
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }

  45% {
    visibility: hidden;

    -webkit-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);
  }

  100% {
    visibility: hidden;

    -webkit-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);
  }
}

.openClose {
  -webkit-animation-name: openClose;

  animation-name: openClose;

  -webkit-animation-iteration-count: infinite;

  animation-iteration-count: infinite;
}

/*----------------------------------*\

   # homeSlider                  

\*----------------------------------*/

.homeSlider {
  width: calc(100% - 100px);

  height: calc(100vh - 70px);

  margin: 30px auto;
}

.homeSlider_mo {
  display: none;
}

.homeSlider .item {
  border: 3px solid #ccc;

  border-radius: 6px;

  width: 100%;

  height: calc(100vh - 70px);

  background-size: cover;

  background-position: center;
}

@media (max-width: 1025px) {
  .homeSlider {
    display: none;
  }

  .homeSlider_mo {
    width: 100%;

    display: block;
  }

  .homeSlider_mo .item {
    width: 100%;

    height: 100vh;

    background-size: cover;

    background-position: center;
  }

  .homeSlider_mo .slick-dots {
    /* bottom: 20px;*/
  }
}

/*----------------------------------*\

   # home_feature ( 首頁-婚禮專案 )                  

\*----------------------------------*/

.feature_wrap {
  width: calc(100% - 100px);

  width: calc(86% - 100px);

  margin: 30px auto;
}

/*--------------feature1&2*/

.feature1,
.feature2 {
  width: 100%;

  height: 34vw;

  margin: 10px 0;
}

.feature1 .box1,
.feature2 .box1 {
  float: left;

  width: 68%;

  height: 100%;

  background-size: cover;

  background-position: center;
}

.feature1 .box2,
.feature2 .box2 {
  float: left;

  width: 32%;

  height: 100%;

  display: flex;

  padding: 0 10px;
}

.feature1 .box2 .center,
.feature2 .box2 .center {
  margin: auto;
}

/*--------------feature3*/

.feature3 {
  position: relative;

  width: 100%;

  height: 34vw;

  background-size: cover;

  background-position: center;
}

.feature3 .block {
  position: absolute;

  display: flex;

  width: 400px;

  height: 82%;

  top: 9%;

  right: 100px;

  background: rgba(0, 0, 0, 0.7);

  color: #fff;
}

.feature3 .block .center {
  margin: auto;
}

/*--------------box內容*/

.partLogo {
  margin: 0 auto 1em;

  width: 100px;

  height: 66px;

  background: url(../images/part_logo.png) no-repeat center center/100% auto;
}

.caption {
  width: 60%;

  height: 2em;

  line-height: 2em;

  text-align: center;

  font-size: 1.2em;

  position: relative;

  margin: 0 auto 1em;
}

.caption:before {
  content: "";

  position: absolute;

  width: 100%;

  height: 1px;

  background: #d2b465;

  top: 0px;

  left: 0;
}

.caption:after {
  content: "";

  position: absolute;

  width: 100%;

  height: 1px;

  background: #d2b465;

  bottom: 0;

  left: 0;
}

.feature_wrap .text {
  /*黑字X6*/

  line-height: 2;

  text-align: center;

  display: -webkit-box;

  -webkit-line-clamp: 6;

  -webkit-box-orient: vertical;

  white-space: normal;

  font-size: 1em;

  height: 12em;

  overflow: hidden;
}

.feature_wrap .text2 {
  /*金字X3*/

  line-height: 2;

  text-align: center;

  display: -webkit-box;

  -webkit-line-clamp: 3;

  -webkit-box-orient: vertical;

  white-space: normal;

  font-size: 1em;
  color: #d2b465;

  height: 6em;

  overflow: hidden;
}

.feature_wrap .btn {
  display: block;

  margin: 1.5em auto 0;

  padding: 3px 0;

  text-align: center;

  background: #d2b465;

  color: #fff;

  width: 140px;
}

@media (max-width: 1441px) {
  .feature_wrap {
    width: 86%;
  }

  .feature1 .box1,
  .feature2 .box1 {
    width: 60%;
  }

  .feature1 .box2,
  .feature2 .box2 {
    width: 40%;
  }
}

@media (max-width: 1025px) {
  .partLogo {
    margin: 0 auto 10px;

    width: 76px;

    height: 50px;
  }

  .caption {
    width: 60%;

    height: 1.5em;

    line-height: 1.5em;

    font-size: 0.9em;

    margin: 0 auto 10px;
  }

  .feature_wrap .text {
    line-height: 1.5;

    font-size: 0.75em;

    height: 9em;
  }

  .feature_wrap .text2 {
    line-height: 1.5;

    font-size: 0.75em;

    height: 4.5em;
  }

  .feature_wrap .btn {
    /*margin:1.5em auto 0;*/

    /*padding:3px 0; */

    font-size: 0.75em;

    width: 120px;
  }

  .feature3 .block {
    width: 270px;

    height: 76%;

    top: 12%;

    right: 50px;
  }
}

@media (max-width: 769px) {
  .feature3 .block {
    width: 240px;

    height: 90%;

    top: 5%;

    right: 50px;
  }
}

@media (max-width: 415px) {
  .partLogo {
    width: 45px;

    height: 30px;
  }

  .feature_wrap {
    width: 100%;

    margin: 10px auto;
  }

  .feature1,
  .feature2 {
    height: 70vw;

    margin: 5px 0;
  }

  .feature1 .box1,
  .feature2 .box1 {
    width: 54%;
  }

  .feature1 .box2,
  .feature2 .box2 {
    width: 46%;
  }

  .feature3 {
    height: 60vw;
  }

  .feature3 .block {
    right: 5%;

    right: calc(50% - 120px);
  }
}

@media (max-width: 321px) {
  .feature1,
  .feature2 {
    height: 80vw;
  }

  .feature3 {
    height: 70vw;
  }
}

/*----------------------------------*\

	# home-about ( 首頁-關於我們 )                     

\*----------------------------------*/

.home_about {
  margin-top: 40px;

  width: 100%;

  height: auto;

  padding: 2em 10%;
  padding: 1em 10%;

  background: #d2b465;

  background: radial-gradient(circle farthest-side at center, #fef7ae, #e9b84f);

  color: #444;
}

.home_about a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .home_about {
    margin-top: 0px;

    padding: 1em 5%;
  }
}

/*----------------------------------*\

	# header & menu                     

\*----------------------------------*/

#header {
  z-index: 31;
  top: 0;
  left: 0;

  position: relative;

  height: 100vh;
  height: 0;

  width: 100%;

  overflow: hidden;
}

.burg {
  position: fixed;

  top: 50px;
  left: 50px;

  top: 20px;
  left: 40px;

  z-index: 99;

  height: 60px;
  width: 60px;

  border-radius: 50%;

  cursor: pointer;

  background: rgba(210, 180, 101, 0.7);

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

  -webkit-transition: all ease 0.4s;

  transition: all ease 0.4s;
}

.burg span {
  margin: 29px 12px 0;
}

.burg span,
.burg span::after,
.burg span::before {
  content: "";

  position: absolute;

  width: 36px;

  height: 3px;

  background-color: #e9e9e9;

  left: 0;

  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.burg span::before {
  width: 36px;

  top: -8px;
}

.burg span {
  width: 26px;
}

.burg span::after {
  width: 16px;

  top: 8px;
}

.burg:hover span,
.burg:hover span::after,
.burg:hover span::before {
  background-color: white;
}

.burg:hover span {
  width: 30px;
}

.burg:hover span::before {
  width: 40px;
}

.burg:hover span::after {
  width: 20px;
}

.burg.active > span {
  background-color: transparent;
}

.burg.active > span::after,
.burg.active > span::before {
  top: 0px;

  right: 0px;

  width: 36px;
}

.burg.active:hover > span::after,
.burg.active:hover > span::before {
  background-color: white;
}

.burg.active > span::before {
  -webkit-transform: rotate(-225deg);

  transform: rotate(-225deg);
}

.burg.active > span::after {
  -webkit-transform: rotate(225deg);

  transform: rotate(225deg);
}

.offcanvas,
.panel {
  position: fixed;

  z-index: 98;

  left: -50%;
  top: 0px;

  background: white;

  height: 100vh;
  width: 25vw;

  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);

  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);

  display: flex;

  flex-direction: column;

  justify-content: center;

  -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);

  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);

  text-align: center;
}

.panel {
  z-index: 97;

  transform: translateX(-50vw);

  left: 0;
}

.offcanvas a img,
.panel a img {
  width: 220px;
}

.offcanvas a:first-child,
.panel a:first-child {
  margin-bottom: 20px;
}

.offcanvas a:first-child:hover,
.panel a:first-child:hover {
  background: transparent;
}

.offcanvas.active,
.panel.active {
  left: 0;
}

.offcanvas a,
.panel a {
  margin-bottom: 0px;

  padding: 8px;
}

.offcanvas a:hover,
.panel a:hover {
  color: white;

  background: #d2b465;
}

@media (max-width: 1025px) {
  .burg {
    top: 10px;
    left: 10px;
  }

  .offcanvas,
  .panel {
    left: -110%;

    width: 100vw;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background: rgba(255, 255, 255, 0.86);

    flex-direction: none;

    justify-content: flex-start;

    padding: 2em 0;
  }

  .offcanvas a img,
  .panel a img {
    width: 140px;
  }

  .offcanvas a:first-child,
  .panel a:first-child {
    margin-bottom: 0;
  }

  .offcanvas a:first-child,
  .panel a:first-child {
    margin-bottom: 0px;
  }
}

/*----------------------------------*\

	# social-icons (sidenav)                   

\*----------------------------------*/

.sidenav {
  width: 60px;

  height: auto;

  position: fixed;

  z-index: 99;

  top: 4em;

  right: 0;

  font-size: 2.5em;
}

.sidenav i {
  display: block;

  margin: 0.2em 0;
}

.sidenav a,
.sidenav a:visited {
  color: #999;
}

.sidenav a:hover {
  color: #d2b465;
}

/*-----popUp-----*/

.popup_btn {
  display: block;
}

.popup {
  position: fixed;

  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  z-index: 100;

  background-color: rgba(0, 0, 0, 0.6);

  visibility: hidden;
}

.popup.is-visible {
  opacity: 1;

  visibility: visible;

  transition: 1s all;
}

.popup_cnt {
  position: relative;

  width: 600px;

  padding: 20px;

  background: #fff;

  text-align: center;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);
}

.popup_cnt .popup-close {
  position: absolute;

  top: 10px;

  right: 10px;

  font-size: 1em;

  color: #444;
}

@media (max-width: 1025px) {
  .sidenav {
    width: 30px;

    top: 0.5em;

    right: 0;

    font-size: 1.6em;
  }
}

@media (max-width: 541px) {
  .popup_cnt {
    width: 80%;

    padding: 30px 10px;
  }
}

@media (max-width: 321px) {
  .popup_cnt {
    width: 94%;
  }
}

/*----------------------------------*\

    # slide (home)                     

\*----------------------------------*/

.wrapper {
  position: relative;
}

#slider {
  width: 100%;

  height: 100vh;
}

.slide_logo {
  width: 430px;

  height: 80px;

  position: absolute;

  z-index: 2;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background: url(../images/logo_white.png);

  background-size: cover;

  background-position: center;
}

@media (max-width: 1025px) {
  .slide_logo {
    width: 280px;

    height: 52px;
  }
}

/*----------------------------------*\

	# footer                   

\*----------------------------------*/

footer {
  width: 100%;

  padding: 50px 0;

  background: radial-gradient(circle farthest-side at center, #fef7ae, #e9b84f);

  color: #444;
}

footer a:hover {
  color: #775227;
}

.content {
  width: 80%;

  margin: 0 auto;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxB {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.boxA > div,
.boxB > div,
.boxC > div {
  margin: auto;
}

.boxA p {
  font-size: 0.8em;

  text-align: left;
}

.boxB li {
  display: inline-block;

  float: left;

  font-size: 0.8em;

  border-right: 1px solid white;

  line-height: 0.8em;

  padding: 0 10px;
}

.boxB a {
  font-size: 0.8em;

  border-right: 1px solid white;

  line-height: 0.8em;

  padding: 0 10px;
}

.boxB a:nth-last-of-type(1) {
  border-right: 0px;
}

.boxC i {
  font-size: 1.5em;

  margin: 0 6px;
}

.copyright {
  width: 100%;

  text-align: center;

  font-size: 0.65em;

  line-height: 50px;

  height: 50px;

  background: #131313;

  color: #666;

  letter-spacing: 2px;
}

@media (max-width: 1025px) {
  footer {
    padding: 0;
  }

  .img_wedding {
    display: none;
  }

  .content {
    width: 100%;
  }

  /* .boxA,
  .boxB,
  .boxC {
    height: 80px;
  } */

  .boxA {
    width: 100%;
	padding: 25px 10px;
  }

  .boxA p {
	  text-align: center;
	  font-size: 0.9rem;
	  line-height: 1.7;
  }

  .boxB {
    display: none;
  }

  .boxC {
    display: none;
  }
}

/*----------------------------------*\

    # loading                    

\*----------------------------------*/

.loading_wrap {
  display: flex;

  position: fixed;

  background: black;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 999;
}

.atCenter {
  position: absolute;

  margin: auto;
}

.la-timer,
.la-timer > div {
  position: relative;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
}

.la-timer {
  display: block;

  font-size: 0;

  color: #d2b465;
}

.la-timer > div {
  display: inline-block;

  float: none;

  background-color: currentColor;

  border: 0 solid currentColor;
}

.la-timer {
  width: 64px;

  height: 64px;
}

.la-timer > div {
  width: 64px;

  height: 64px;

  background: transparent;

  border-width: 2px;

  border-radius: 100%;
}

.la-timer > div:before,
.la-timer > div:after {
  position: absolute;

  top: 32px;

  left: 32px;

  display: block;

  width: 2px;

  margin-top: 0px;

  margin-left: 0px;

  content: "";

  background: currentColor;

  border-radius: 2px;

  -webkit-transform-origin: 1px 1px 0;

  -moz-transform-origin: 1px 1px 0;

  -ms-transform-origin: 1px 1px 0;

  -o-transform-origin: 1px 1px 0;

  transform-origin: 1px 1px 0;

  -webkit-animation: timer-loader 1250ms infinite linear;

  -moz-animation: timer-loader 1250ms infinite linear;

  -o-animation: timer-loader 1250ms infinite linear;

  animation: timer-loader 1250ms infinite linear;

  -webkit-animation-delay: -625ms;

  -moz-animation-delay: -625ms;

  -o-animation-delay: -625ms;

  animation-delay: -625ms;
}

.la-timer > div:before {
  height: 16px;
}

.la-timer > div:after {
  height: 8px;

  -webkit-animation-duration: 15s;

  -moz-animation-duration: 15s;

  -o-animation-duration: 15s;

  animation-duration: 15s;

  -webkit-animation-delay: -7.5s;

  -moz-animation-delay: -7.5s;

  -o-animation-delay: -7.5s;

  animation-delay: -7.5s;
}

@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);

    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);

    transform: rotate(360deg);
  }
}

@-moz-keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);

    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);

    transform: rotate(360deg);
  }
}

@-o-keyframes timer-loader {
  0% {
    -o-transform: rotate(0deg);

    transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);

    transform: rotate(360deg);
  }
}

@keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);

    -moz-transform: rotate(360deg);

    -o-transform: rotate(360deg);

    transform: rotate(360deg);
  }
}
